APP_NAME
APP_USER_API_PORT
APP_ADMIN_API_PORT


DATABASE_TYPE
DATABASE_HOST
DATABASE_PORT
DATABASE_USERNAME
DATABASE_PASSWORD
DATABASE_NAME
DATABASE_SYNCHRONIZE
DATABASE_LOGGING

TOKEN_JWT_SECRET
TOKEN_JWT_EXPIRE